body{background-color: black ; font-family: 'IBM Plex Sans', sans-serif;}
.container{display: flex; flex-direction: column; align-items: center;}
nav{display: flex;}
.titulo{margin-bottom: 50px; color: white;}


.perfil1
{
    display:flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    width: 100px; 
    height: 150px;  
    text-align: center; 
    margin-right: 10px;
    margin-top: 64px;
    color: #9C9C9C;
}

.perfil2
{
    display: flex;
    align-items: center;
    width: 100px;
    height: 150px;
    text-align: center;
    color:#9C9C9C;
    margin-top: 48px;
    flex-direction: column;
    justify-content: flex-end;
}

.perfil3
{
    display: flex;
    align-items: center;
    width: 100px;
    height: 150px;
    text-align: center;
    color: #9C9C9C;
    margin-left: 10px;
    margin-top: 48px;
    flex-direction: column;
    justify-content: flex-end;
}

.perfil4
{
    display: flex;
    align-items: center;
    width: 100px;
    height: 150px;
    text-align: center;
    color: #9C9C9C;
    margin-left: 10px;
    margin-top: 58px;
    flex-direction: column;
    justify-content: flex-end;
}

.rodape:hover{cursor: pointer;}

.rodape
{
    width: 200px;
    height: 50px;
    border: white solid 1px;
    margin-top: 90px;
    border-radius: 10px;
    text-align: center;
    color: white;
} 

.FotodoPerfil:hover{cursor: pointer; transform: scale(1.2); transition: 1s; }

.FotodoPerfil
{
    
    border-radius: 10px;
    height: 80px;
    width: 80px;
}


